*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: serif;
    font-size: 1rem;
    color: #444;
}


#app {
    margin: 50px auto auto;
}

rect {
    fill: lightgray;
}

svg {
    padding: 1px;
    display: flex;
}

polyline {
    stroke:black;
    stroke-width: 3px;
    stroke-opacity:0.5;
}