*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: serif;
    font-size: 1rem;
    color: #444;
}


#app {
    margin: 50px auto auto;
    border-style: solid;
    width: 650px;
    height: 650px;
}

rect {
    fill: lightgray;
}