*,
*::before,
*::after {
    box-sizing: border-box
}

.row {
    width: 1200px;
    margin: auto auto auto;
    text-align: center;
}

.column {
    float: left;
    margin: 50px auto auto;
    min-height: 650px;
    min-width: 200px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

html {
    background-color: whitesmoke;
    font-family: serif;
    font-size: 1rem;
}

h1, h2 {
    text-align: center;
}

h4, ul, h5, h6 {
    text-align: left;
    padding: 0px;
}

ul{
    margin-top: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

#board, #help {
    margin-left: 15px;
}

svg {
    padding: 1px;
}

polyline {
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 1;
}

.well {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;

    margin: 15px;
    vertical-align: top;
    text-align: center;
}

p {
    width: 200px;
    text-align: left;
}

li, p {
    font-size: 12px;
}